export CGO_CFLAGS="-I/home/jakob/go/deps/raft/include/ -I/home/jakob/go/deps/cowsql/include/"
export CGO_LDFLAGS="-L/home/jakob/go/deps/raft/.libs -L/home/jakob/go/deps/cowsql/.libs/"
export LD_LIBRARY_PATH="/home/jakob/go/deps/raft/.libs/:/home/jakob/go/deps/cowsql/.libs/"
export CGO_LDFLAGS_ALLOW="(-Wl,-wrap,pthread_create)|(-Wl,-z,now)"
export PATH="${PATH}:$(go env GOPATH)/bin"
